<!--
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>
-->
<ion-content class="cont" [fullscreen]="true">
  <div class="cont">
    <ion-grid>
      <ion-title size="large">Mi <br> Home</ion-title>
      <ion-button class="login" href="/login">
        <ion-icon aria-hidden="true" name="person"></ion-icon>
      </ion-button> 
      <ion-row>
        <ion-col class="cont_notas" *ngFor="let item of resp">
          <ion-card class="notas">
          <!--
            <ion-card-header>
              <ion-card-title>{{ item.id }}</ion-card-title>
              <ion-button (click)="item.id !== undefined && eliminarDato(item.id)" shape="round-10" fill="clear"> <ion-icon slot="icon-only"  name="trash-outline"></ion-icon></ion-button>
            </ion-card-header>
          -->
            <ion-card-content class="contenido" >
              <!--ion-button (click)="item.id !== undefined && eliminarDato(item.id)" shape="round-10" fill="clear"> <ion-icon slot="icon-only"  name="trash-outline"></ion-icon></ion-button-->
              <p class="titulo">{{ item.titulo }}</p>
              <p class="cuerpo">{{ item.cuerpo }}</p>
              <p class="fecha">{{ item.fecha }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="cont_notas" *ngFor="let task of tasks">
          <ion-card class="notas">
            <ion-card-content class="contenido" >
              <!--ion-button (click)="tas.id !== undefined && eliminarDato(tas.id)" shape="round-10" fill="clear"> <ion-icon slot="icon-only"  name="trash-outline"></ion-icon></ion-button-->
              <input type="checkbox" name="" id="">
              <p class="titulo">{{ task.titulo }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      
    </ion-grid>
    <a class="button_notas" href="/nota"><ion-icon name="add"></ion-icon></a>
  </div>
  </ion-content>
  