/* Resets default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Main container */
  .contenedor_registro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F6ECC9;
  }
  